---
import Button from "./Button.astro";
---

<nav>
  <div
    class="container flex justify-between items-center gap-8 mx-auto py-6 px-4"
  >
    <a href="/">
      <img
        src="/assets/logo.svg"
        class="w-[120px] md:w-[185px]"
        alt="Huddle Landing Page"
      />
    </a>
    <Button type="secondary" classes="max-md:text-[12px] max-md:px-8">
      Try It Free
    </Button>
  </div>
</nav>
